<!DOCTYPE html>
<html lang="zh">
	<head>
	    <meta charset="utf-8" />
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
	    <title>Minesweeper - 扫雷(VueJS版)</title>
	    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
	    <meta name="description" content="A Vue powered minesweeper game. Responsive design with classic Windows look." /><meta property="og:description" content="A Vue powered minesweeper game. Responsive design with classic Windows look." />
	    <link href="minesweeper-vue.css?2020-11-25-2338" rel="stylesheet" type="text/css" />
	    <style>.statcounter{width: 1px;height: 1px;overflow: hidden;display: block;position: fixed;}</style>
	</head>
    <body>
    	<div id="app" v-cloak>
    		<div class="outer-block" :style="{width: line_width + 'px'}">
    			<div style="display: flex; justify-content: center; margin-bottom: 10px;">
    				<div class="blocks" :class="gear_class" @mousedown="btn_down('gear_btn')" @mouseup="btn_up('gear_btn')" style="display: block; margin-right: 10px;">
    					<div class="gearOuter" style="top: -1px; left: -2px;">
							<div class="gearCircle border-white"></div>
							<div class="tooth1 bg-white"></div>
							<div class="tooth2 bg-white"></div>
							<div class="tooth3 bg-white"></div>
							<div class="tooth4 bg-white"></div>
							<div class="tooth5 bg-white"></div>
							<div class="tooth6 bg-white"></div>
							<div class="tooth7 bg-white"></div>
							<div class="tooth8 bg-white"></div>
						</div>
    					<div class="gearOuter" style="top: -1px; left: -0.5px;">
							<div class="gearCircle border-gray"></div>
							<div class="tooth1 bg-gray"></div>
							<div class="tooth2 bg-gray"></div>
							<div class="tooth3 bg-gray"></div>
							<div class="tooth4 bg-gray"></div>
							<div class="tooth5 bg-gray"></div>
							<div class="tooth6 bg-gray"></div>
							<div class="tooth7 bg-gray"></div>
							<div class="tooth8 bg-gray"></div>
						</div>
    				</div>
    				<div class="counterOuter" style="width: 40px;">
						<div id="counter" class="counterInner">{{num_of_mine_left}}</div>
					</div>
    				<div class="blocks" :class="face_class" style="display: block; margin: 0px 10px;" @mousedown="btn_down('face')" @mouseup="btn_up('face')">
	    				<div class="faceOuter">
							<div class="eyeLeft"></div>
							<div class="eyeRight"></div>
							<div class="smileLips"></div>
						</div>
						<div class="glass_outer" :class="{hidden: notWinning}">
							<div class="glass_left"></div>
							<div class="glass_middle"></div>
							<div class="glass_right"></div>
						</div>
	    			</div>
	    			<div class="blocks" :class="flag_btn_class" style="display: block; margin-right: 10px;" @mousedown="btn_down('flag_btn')" @mouseup="btn_up('flag_btn')">
	    				<div class="pos-abslt" >
	    					<div class="flag"></div>
							<div class="pole"></div>
							<div class="stand"></div>
	    				</div>
	    			</div>
	    			<div class="counterOuter" style="width: 80px;">
						<div id="counter" class="counterInner">{{time_spent}}</div>
					</div>
    			</div>
    			<div v-for="(lines, row) in minefield" style="line-height: 0px;">
	    			<div v-for="(block, col) in lines" :data-row="row" :data-col="col" class="blocks" :class="{untouched: !block.exposed && !block.tempDown, cleared: block.exposed && !block.tempDown, tempCleared: block.tempDown}" @contextmenu.prevent="add_drop_flag(block)" @mousedown="leftRightDown(block, row, col)" @mouseup="leftRightUp(block, row, col)" @mouseenter="handleMouseEnter(block, row, col)" @mouseleave="handleMouseLeave(block, row, col)" @touchend="touchend_func(block, row, col)">
	    				<div class="pos-abslt" :class="{'num-hidden': !block.exposed}" :style="{color: block.color}">{{block.num}}</div>
	    				<div class="pos-abslt" :class="{'flag-hidden': !block.flagged}">
	    					<div class="flag"></div>
							<div class="pole"></div>
							<div class="stand"></div>
	    				</div>
	    				<div class="pos-abslt cross" :class="{'cross-hidden': !block.crossed}">✖</div>
	    			</div>
	    		</div>
    		</div>
    		<div :class="{'mask-layer': slide_visible}" @click="set_close"></div>
    		<div class="slide-container" :class="{'hidden': !slide_visible}">
    			<div class="slides">
    				<div class="slide-general" :class="slides_class[0]">
    					<h3>游戏说明</h3>
    					<div style="display: flex; justify-content: left; margin-bottom: 10px;">
    						<div class="blocks untouched" style="display: block; margin-right: 30px;">
		    					<div class="gearOuter" style="top: -1px; left: -2px;">
									<div class="gearCircle border-white"></div>
									<div class="tooth1 bg-white"></div>
									<div class="tooth2 bg-white"></div>
									<div class="tooth3 bg-white"></div>
									<div class="tooth4 bg-white"></div>
									<div class="tooth5 bg-white"></div>
									<div class="tooth6 bg-white"></div>
									<div class="tooth7 bg-white"></div>
									<div class="tooth8 bg-white"></div>
								</div>
		    					<div class="gearOuter" style="top: -1px; left: -0.5px;">
									<div class="gearCircle border-gray"></div>
									<div class="tooth1 bg-gray"></div>
									<div class="tooth2 bg-gray"></div>
									<div class="tooth3 bg-gray"></div>
									<div class="tooth4 bg-gray"></div>
									<div class="tooth5 bg-gray"></div>
									<div class="tooth6 bg-gray"></div>
									<div class="tooth7 bg-gray"></div>
									<div class="tooth8 bg-gray"></div>
								</div>
		    				</div>
		    				<div style="line-height: 32px;">设置</div>
    					</div>
    					<div style="display: flex; justify-content: left; margin-bottom: 10px;">
    						<div class="counterOuter" style="width: 28px; margin-right: 30px;">
    							<div id="counter" class="counterInner">10</div>
    						</div>
    						<div style="line-height: 32px;">剩余地雷数</div>
    					</div>
    					<div style="display: flex; justify-content: left; margin-bottom: 10px;">
    						<div class="blocks untouched" style="display: block; margin-right: 30px;">
    							<div class="faceOuter">
    								<div class="eyeLeft"></div>
    								<div class="eyeRight"></div>
    								<div class="smileLips"></div>
    							</div>
    						</div>
    						<div style="line-height: 32px;">开始新一局</div>
    					</div>
    					<div style="display: flex; justify-content: left; margin-bottom: 10px;">
    						<div class="blocks untouched" style="display: block; margin-right: 30px;">
    							<div class="pos-abslt">
    								<div class="flag"></div>
	    							<div class="pole"></div>
	    							<div class="stand"></div>
	    						</div>
	    					</div>
	    					<div style="line-height: 32px; width: 150px;">按下可标记地雷</div>
    					</div>
    					<div style="display: flex; justify-content: left;">
    						<div class="counterOuter" style="width: 28px; margin-right: 30px;">
    							<div id="counter" class="counterInner">0</div>
    						</div>
    						<div style="line-height: 32px;">用时</div>
    					</div>
    				</div>
    				<div class="slide-general" :class="slides_class[1]">
    					<h3>游戏说明</h3>
    					<ol class="game-guide">
    						<li>打开页面时会自动生成适应设备屏幕尺寸的雷区和地雷数</li>
    						<li>电脑端可右击未翻开的方块对其进行标记或取消标记</li>
    						<li>若确定某个已翻开的方块周围的地雷都已标记，同时点击鼠标左键和右键可翻开剩余方块</li>
    						<li>移动端可用手指双击达到第3条的效果</li>
    					</ol>
    				</div>
    				<div class="slide-general" :class="slides_class[2]">
    					<h3>扫雷英雄榜</h3>
    					<ol v-html="liHTML"></ol>
    					<p><input type="button" value="重置" @click="reset_score"/></p>
    				</div>
    				<div class="slide-general" :class="slides_class[3]">
    					<h3>地雷设置</h3>
    					<p>输入您想要的地雷数</p>
    					<p>最多{{mine_max}}个</p>
    					<p><input type="number" style="width: 40px;" min="1" :max="mine_max" @input="get_mine_input(mine_input)" @keyup.enter="set_mine(mine_input)" v-model="mine_input"/></p>
    					<p><input type="button" value="确定" @click="set_mine(mine_input)"/></p>
    				</div>
				<div class="slide-general" :class="slides_class[4]">
					<p>回到<a href="/">首页</a></p>
    				</div>
    			</div>
    			<div class="slide-to-left" @click="slide_to_left(curr_slide)">&lt;</div>
    			<div class="slide-to-right" @click="slide_to_right(curr_slide)">&gt;</div>
    			<p class="return-p"><input type="button" value="返回" @click="set_close"/></p>
    		</div>
    	</div>
	    <script src='vue.min.js'></script>
	    <script src='minesweeper-vue.js?2020-11-25-2339'></script>
	    <script src='/js/statcounter.js'></script>
  	</body>
</html>
